@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&family=Poppins:wght@300;600;700&display=swap");

:root {
  --primary-color: #17449e;
  --secondary-color: #9d9d9d;
  --elementary-color: #fefefe;
  --dark-color: #1e1e1e;
  --light-color: #fff;
  --font-family-primary: "Poppins", sans-serif;
  --transition-primary: all 0.3s ease-in-out;
  --background-color: var(--elementary-color);
  --border-radius-primary: 0.1rem;
  --border-radius-secondary: 1rem;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
}

::selection {
  color: var(--light-color);
  background-color: var(--primary-color);
}
.active {
  text-decoration: overline;
  text-decoration-color: var(--primary-color);
}
